* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:azure;
}

h1 {
    margin-bottom: 30px;
}

button {
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 20px;
}